@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: normal;
    text-decoration: none;
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --padding-s: 12px;
    --padding-m: 16px;
    --padding-l: 20px;
    --margin-s: 12px;
    --margin-m: 16px;
    --margin-l: 20px;
    --size-s: 14px;
    --size-xl: 28px;
}

body {
    height: 100svh;
    background-color: #F3F5F6;
}

body {
    background: linear-gradient(45deg,
            #f1f5f6,
            #f1f5f6,
            #7a6bff80,
            #f1f5f6,
            #0081ff80,
            #f1f5f6,
            #f1f5f6);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    animation: gradient 60s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes toastShow {
    0% {
        transform: translate(-50%, -100%);
    }

    100% {
        transform: translate(-50%, calc(var(--padding-s)));
    }
}

@keyframes toastHide {
    0% {
        transform: translate(-50%, calc(var(--padding-s)));
    }

    100% {
        transform: translate(-50%, -100%);
    }
}

#toast.successful.animate {
    animation: toastHide .8s ease forwards;
}

#toast.error.animate {
    animation: toastHide .8s ease forwards;
}

#toast.successful {
    animation: toastShow .8s ease forwards;

    svg {
        fill: #00BB00;
    }
}

#toast.error {
    animation: toastShow .8s ease forwards;

    svg {
        fill: #EE0000;
    }
}

#toast {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    align-items: center;
    transform: translate(-50%, -100%);
    z-index: 100;
    padding: 16px;
    justify-content: center;
    width: 100%;
}

.toast-wrapper:hover {
    box-shadow: 0 0 40px #00000020;
}

.toast-wrapper {
    display: flex;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding: var(--padding-s);
    padding-right: var(--padding-l);
    border-radius: 20px;
    transition: 0.35s all;
    box-shadow: 0 0 40px #00000010;
}

.toast-icon {
    display: flex;
    margin-right: var(--margin-s);
}

.toast-icon svg {
    width: var(--size-xl);
}

.toast-body {
    display: flex;
    flex-direction: column;
}

.toast-body>* {
    user-select: none !important;
}

.toast-title {
    font-weight: 600;
}

/* .toast-content {} */

.wrapper {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.process {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 370px;
    padding: var(--padding-m);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: all 0.35s;
    box-shadow: 0 0 40px #0000000d;
}

.process:hover {
    box-shadow: 0 0 40px #0000001a;
}

.process>* {
    margin-bottom: 12px;
}

h1 {
    margin: 16px 0 32px 0 !important;
    font-weight: 600;
    font-size: 14px;
}

h1 a {
    font-size: 14px;
    color: #7A6BFF;
}

#input-text {
    height: 200px;
    padding: 6px;
    resize: none;
    /* border: 1px solid #f3f5f6; */
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    box-shadow: inset 0 0 6px #0000000d;
    border-radius: 6px;
}

#input-text {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#input-text::-webkit-scrollbar {
    display: none;
}

.process>div {
    margin-left: calc(var(--padding-m) * -1);
    margin-right: calc(var(--padding-m) * -1);
    margin-bottom: calc(var(--padding-m) * -1);
    border-top: 1px solid #55555514;
    display: flex;
}

.process>div>button {
    padding: 12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #7A6BFF;
    flex: 1;
    user-select: none !important;
    transition: all .15s;
}

.process>div>button {
    border-right: 1px solid #55555514;
}

.process>div>:last-child {
    border: 0;
}

#btn-start {
    font-weight: 600;
}

.process>div>button:hover {
    background-color: rgb(122, 107, 255, 0.05);
}

.process>div>button:active {
    background-color: rgb(122, 107, 255, 0.1);
}